<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Clean Blue Knews Template</title>
</head>
<body>
	<table border="0" cellpadding="0" cellspacing="0" width="650" align="center">
		<tr>
			<td height="20" align="center" valign="top"><font color="#000000" size="2" face="Verdana, Geneva, sans-serif"><span style="font-size:13px;"><!--[start_editable_content]-->If you can't read this email click <a href="%cant_read_href%" style="color:#027ca5">here</a><!--[end_editable_content]--></span></font></td></tr>
		<tr><td style="line-height:0">
			<img src="images/surf.jpg" width="650" height="218" alt="" style="display:block" class="editable" />
		</td></tr>
		<tr><td align="center" valign="middle" bgcolor="#3198C7" class="global_colour_bg_2 _caption_Background_color_1"><!--[start_editable_content]--><p style="margin:0; padding:6px 0"><font size="7" color="#FFFFFF" face="Times New Roman, Times, serif" style="font-size:48px" class="global_font_1 _fcaption_Great_title_font global_colour_1 _caption_Great_title_color">The clean modular newsletter</font></p><!--[end_editable_content]--></td></tr>
<!--Definim l'inici del contenidor dels moduls (una unica vegada):-->
		<!--[open_insertion_container_start]--><tr class="droppable_empty"><td><!--[close_insertion_container_start]-->
<!--[start module 1]-->
			<table width="650" border="0" class="global_colour_bg_3 _caption_Background_color_2" cellpadding="0" cellspacing="0" bgcolor="#BCDDED">
				<tr><td style="line-height:0"><span class="handler"></span><img src="images/30x23.gif" width="30" height="23" style="display:block" alt="" /></td>
					<td style="line-height:0"><img src="images/264x23.gif" width="264" height="23" style="display:block" alt="" /></td>
					<td style="line-height:0"><img src="images/30x23.gif" width="30" height="23" style="display:block" alt="" /></td>
					<td style="line-height:0"><img src="images/1x1.gif" width="1" height="1" style="display:block" alt="" /></td>
					<td style="line-height:0"><img src="images/30x23.gif" width="30" height="23" alt="" /></td>
					<td style="line-height:0"><img src="images/265x23.gif" width="264" height="23" style="display:block" alt="" /></td>
					<td style="line-height:0"><img src="images/30x23.gif" width="30" height="23" style="display:block" alt="" /></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td align="left" valign="top"><!--[start_editable_content]--><p style="margin:0; padding:0"><font face="Times New Roman, Times, serif" size="5" color="#027ca5" style="font-size:24px;" class="global_colour_4 _caption_Title_Color global_font_2 _fcaption_title_fonts"><a href="%the_permalink_1%" style="color:#027ca5;" class="global_colour_4 _caption_Title_Color">%the_title_1%</a></font></p>
						<p style="margin:0; padding:10px 0 0 0;"><font color="#3F3F3F" size="2" face="Verdana, Geneva, sans-serif" style="font-size:13px;" class="global_colour_5 _caption_Text_Color global_font_3 _fcaption_text_fonts">%the_excerpt_1%&nbsp;<a href="%the_permalink_1%" style="color:#027ca5;" class="global_colour_4 _caption_Title_Color">continue reading</a></font></p><!--[end_editable_content]--></td>
					<td><span class="chooser"></span>&nbsp;</td>
					<td bgcolor="#7f7f7f" style="line-height:0"><img src="images/1x1.gif" width="1" height="1" style="display:block" alt="" /></td>
					<td>&nbsp;</td>
					<td align="left" valign="top"><!--[start_editable_content]--><p style="margin:0; padding:0"><font face="Times New Roman, Times, serif" size="5" color="#027ca5" style="font-size:24px;" class="global_colour_4 _caption_Title_Color global_font_2 _fcaption_title_fonts"><a href="%the_permalink_2%" style="color:#027ca5;" class="global_colour_4 _caption_Title_Color">%the_title_2%</a></font></p>
						<p style="margin:0; padding:10px 0 0 0;"><font color="#3F3F3F" size="2" face="Verdana, Geneva, sans-serif" style="font-size:13px;" class="global_colour_5 _caption_Text_Color global_font_3 _fcaption_text_fonts">%the_excerpt_2%&nbsp;<a href="%the_permalink_2%" style="color:#027ca5;" class="global_colour_4 _caption_Title_Color">continue reading</a></font></p><!--[end_editable_content]--></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td colspan="7" style="line-height:0"><img src="images/30x23.gif" width="30" height="23" style="display:block" alt="" /></td>
					</tr>
			</table>
<!--[end module 1]-->
<!--Definim el final del contenidor dels moduls (una unica vegada): -->
		<!--[open_insertion_container_end]--></td></tr><!--[close_insertion_container_end]-->
<!--El codi per suportar els moduls ja ha estat declarat una vegada, per la resta, l'ignorem -->
<!--[open_ignore_code]--><tr><td><!--[close_ignore_code]-->
<!--[start module 2]-->
		<table border="0" class="local_colour_bg_1 _caption_Background_color" cellpadding="0" cellspacing="0" bgcolor="#3198C7">
			<tr><td style="line-height:0"><span class="handler"></span><img src="images/30x23.gif" width="30" height="23" alt="" style="display:block" /></td><td style="line-height:0"><img src="images/590x1.gif" width="590" height="1" alt="" style="display:block" /></td><td style="line-height:0"><img src="images/30x23.gif" width="30" height="23" alt="" style="display:block" /></td></tr>
			<tr><td></td><td align="left"><!--[start_editable_content]--><p style="margin:0; padding:0"><font size="6" color="#FFFFFF" face="Times New Roman, Times, serif" style="font-size:32px" class="local_colour_2 _caption_Font_color local_font_1 _fcaption_text_font">Free text</font></p><!--[end_editable_content]--></td><td></td></tr>
			<tr><td colspan="3" style="line-height:0"><img src="images/30x23.gif" width="30" height="23" alt="" style="display:block" /></td></tr>
		</table>
<!--[end module 2]-->
<!--[open_ignore_code]--></td></tr><tr><td><!--[close_ignore_code]-->
<!--[start module 3]-->
		<table width="650" class="global_colour_bg_3 _caption_Background_color_2" border="0" cellpadding="20" cellspacing="0" bgcolor="#BCDDED"><tr>
			<td align="left" valign="top" style="line-height:0"><span class="handler"></span><img src="images/wp.jpg" width="197" height="151" alt="" style="display:block" class="editable" /></td>
			<td align="left" valign="top"><span class="chooser"></span><!--[start_editable_content]--><p style="margin:0; padding:0"><font face="Times New Roman, Times, serif" size="5" color="#027ca5" style="font-size:24px;" class="global_colour_4 _caption_Title_Color global_font_2 _fcaption_title_fonts"><a href="%the_permalink_1%" style="color:#027ca5;" class="global_colour_4 _caption_Title_Color">%the_title_1%</a></font></p>
						<p style="margin:0; padding:10px 0 0 0;"><font color="#3F3F3F" size="2" face="Verdana, Geneva, sans-serif" style="font-size:13px;" class="global_colour_5 _caption_Text_Color global_font_3 _fcaption_text_fonts">%the_excerpt_1%&nbsp;<a href="%the_permalink_1%" style="color:#027ca5;" class="global_colour_4 _caption_Title_Color">continue reading</a></font></p><!--[end_editable_content]--></td></tr>
		</table>
<!--[end module 3]-->
<!--[open_ignore_code]--></td></tr><tr><td><!--[close_ignore_code]-->
<!--[start module 4]-->
		<table width="650" class="global_colour_bg_2 _caption_Background_color_1" border="0" cellpadding="0" cellspacing="15" bgcolor="#000000"><tr>
			<td align="left" valign="top"><span class="handler"></span><!--[start_editable_content]--><p style="margin:0; padding:0"><font face="Verdana, Geneva, sans-serif" size="2" color="#027ca5" style="font-size:13px;" class="local_colour_1 _caption_Title_text_color local_font_1 _fcaption_title_font"><strong>Maecenas scelerisque odio</strong></font></p><p style="margin:0; padding:0;"><font face="Verdana, Geneva, sans-serif" size="1" color="#888888" style="font-size:10px;" class="local_colour_2 _caption_text_color local_font_2 _fcaption_text_font">Lect us iaculis blandit. Aliquam accumsan, magna ut rutrum molestie, leo massa vestibulum elit, vel laoreet purus odio ac erat.</font></p><!--[end_editable_content]--></td>
			<td align="left" valign="top"><!--[start_editable_content]--><p style="margin:0; padding:0"><font face="Verdana, Geneva, sans-serif" size="2" color="#027ca5" style="font-size:13px;" class="local_colour_1 _caption_Title_text_color local_font_1 _fcaption_title_font"><strong>Maecenas scelerisque odio</strong></font></p><p style="margin:0; padding:0;"><font face="Verdana, Geneva, sans-serif" size="1" color="#888888" style="font-size:10px;" class="local_colour_2 _caption_text_color local_font_2 _fcaption_text_font">Lect us iaculis blandit. Aliquam accumsan, magna ut rutrum molestie, leo massa vestibulum elit, vel laoreet purus odio ac erat.</font></p><!--[end_editable_content]--></td>
			<td align="left" valign="top"><!--[start_editable_content]--><p style="margin:0; padding:0"><font face="Verdana, Geneva, sans-serif" size="2" color="#027ca5" style="font-size:13px;" class="local_colour_1 _caption_Title_text_color local_font_1 _fcaption_title_font"><strong>Maecenas scelerisque odio</strong></font></p><p style="margin:0; padding:0;"><font face="Verdana, Geneva, sans-serif" size="1" color="#888888" style="font-size:10px;" class="local_colour_2 _caption_text_color local_font_2 _fcaption_text_font">Lect us iaculis blandit. Aliquam accumsan, magna ut rutrum molestie, leo massa vestibulum elit, vel laoreet purus odio ac erat.</font></p><!--[end_editable_content]--></td>
		</tr>
		</table>
<!--[end module 4]-->
<!--[open_ignore_code]--></td></tr><!--[close_ignore_code]-->
		<tr><td align="center"><p style="margin:0; padding:10px 0;"><font color="#000000" size="2" face="Verdana, Geneva, sans-serif" style="font-size:10px;"><!--[start_editable_content]-->If you wish to unsubscribe from our mailing list, click <a href="%unsubscribe_href%" style="color:#000000">here</a><!--[end_editable_content]--></font></p></td></tr>
	</table>
</body>
</html>
